#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-size: 18px;
  animation: fade-in-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 1.6s;
}

#quote span:last-child {
  margin-top: 5px;
}

#greeting {
  margin-bottom: 20px;
  font-size: 64px;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}

#clock {
  font-size: 150px;
  margin: 80px 0px 0px 0px;
}

#weather {
  font-size: 18px;
}
