@import "form.css";
@import "others.css";
@import "variables.css";
@import "animations.css";

html {
  color: var(--default-color);
}

body {
  font-family: "Rubik", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.hidden {
  display: none;
}

#main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#select-box {
  width: 250px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.fas {
  color: var(--default-color);
}

.divide-line {
  border-left: solid var(--default-color);
}
